<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="playerRepo" class="scs.mpp.exam.repository.PlayerRepository"/>
    <bean id="gameRepo" class="scs.mpp.exam.repository.GameRepository"/>
    <bean id="roundRepo" class="scs.mpp.exam.repository.RoundRepository"/>


    <bean id="service" class="scs.mpp.exam.server.ServicesImpl">
        <constructor-arg ref="playerRepo"/>
        <constructor-arg ref="gameRepo"/>
        <constructor-arg ref="roundRepo"/>
    </bean>

    <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
        <property name="serviceName" value="Service"/>
        <property name="service" ref="service"/>
        <property name="serviceInterface" value="scs.mpp.exam.services.Services"/>
        <property name="servicePort" value="1099"/>
    </bean>
</beans>